.container-fluid {
    background-image: linear-gradient(-150deg, #378ae2e0 0%, #1e4bc8 100%);
   
}
button.btn-infoPerso {
    background-image: linear-gradient(-150deg, #378ae2e0 0%, #1e4bc8 100%);
    font-weight: bold;
}
button.btn-infoPerso:hover,
button.btn-infoPerso:active,
button.btn-infoPerso:focus {
    background-color: #344f65;
}