.container-fluid {
    background-color: #4F85B1;
   
}
button.btn-infoPerso {
    background-color: #4F85B1;
}
button.btn-infoPerso:hover,
button.btn-infoPerso:active,
button.btn-infoPerso:focus {
    background-color: #344f65;
}