.corPadrao{
   /* background-color: #3272A6;
    color: aliceblue;*/
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
}
.navbar-toggler {
    background-color: rgba(240, 248, 255, 0.792);
    border: none;
    outline: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
.navbar-toggler:hover {
    background-color: rgba(240, 247, 252, 0.928);
}
.navbar-toggler-icon {
    background-color: rgba(240, 248, 255, 0);
}
.navbar-toggler-icon:hover {
    background-color: rgba(240, 247, 252, 0);
}
.btn-close{
    background-color: aliceblue;
}
.nav-link{
    color:#ff0000;
}
.nav-link:hover{
    font-weight: bolder;
    color:#000000
}
.nav-link.active{
    font-weight: bold
}
.navbar-nav .nav-link.active{
    color:rgb(255, 255, 255);
    font-weight: bold;
}
body{
    background-color: rgb(255, 255, 255);
}
.nav-link-especial{
    color:#ffffff;
    text-decoration: none;
}
.nav-link-especial:hover{
    text-decoration: underline;
}

