    /* Estilo do switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        /* largura do switch */
        height: 34px;
        /* altura do switch */
    }

    .switch input {
        opacity: 0;
        /* torna o checkbox invisível */
        width: 0;
        height: 0;
    }

    /* O slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        /* cor do fundo */
        border-radius: 34px;
        /* bordas arredondadas */
        transition: .4s;
        /* transição suave */
    }

    /* O círculo dentro do switch */
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        /* altura do círculo */
        width: 26px;
        /* largura do círculo */
        left: 4px;
        /* posição inicial */
        bottom: 4px;
        /* posição inicial */
        background-color: white;
        /* cor do círculo */
        border-radius: 50%;
        /* deixa redondo */
        transition: .4s;
        /* transição suave */
    }

    /* Quando o checkbox está marcado */
    input:checked+.slider {
        background-color: #2196F3;
        /* cor do fundo quando ativo */
    }

    input:checked+.slider:before {
        transform: translateX(26px);
        /* move o círculo para a direita */
    }
    .text-center{
        text-align: center;
    }