
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: #ffffff url('../img/backgroundPadrao.png') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}


body::after {
  content: '';
  /*background-color: rgba(0, 0, 0, 0.45);*/
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1; 
}


.btn-primary {
  /* background-image: linear-gradient(-180deg, #378ae2e0 0%, #1e4bc8d9 100%); */
  background-color: #024757;
  color: #FFFFFF;
  font-family: "poppins", serif;
  font-weight: 10;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary:hover {
  /* background-image: linear-gradient(-180deg, #1e4bc8d9 0%, #1e4bc8 100%); */
  background-color: #162b30;
}

.btn-secondary {
  background-image: linear-gradient(-180deg, #6C757D 0%, #4f5458 100%);
}

.btn-secondary:hover {
  background-image: linear-gradient(-180deg, rgb(50, 64, 69) 0%, rgb(32, 35, 37) 100%);
}

input[type='checkbox'] {
  cursor: pointer;
}

h5 {
  color: #0D5B6C;
}


h1.display-4{
  color:#0D5B6C;
  font-weight: bold;
}
span#basic-addon2{
  background-color: #0D5B6C;
}

.btn-novaCor{
  background-color: #0D5B6C;
  color:#fff;
  font-weight: bold;
}
.btn-novaCor:hover{
  background-color: #024757;
  color:#fff;
}
.fa-download{
  color:#0D5B6C;
}
.display-4 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  color: #024757;
}

.card-title {
  font-family: "Poppins", serif;
  font-weight: 30;
  font-style: normal;
  color: #000000;
}

.card-text {
  font-family: "Poppins", serif;
  font-weight: 10;
  font-style: normal;
  color: #000000;
}
