.container {
    background-color: #4F85B1;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.titulo {
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    

}
.imgLogin{
    display: block;
    width: 80px;
    margin-left:auto;
    margin-right: auto;
}
.imgNomeLogin{
    display: block;
    width: 130px;
    margin-left:auto;
    margin-right: auto;
}
.rodapeLogin{
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}